/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #ced4da;
  margin: 0px;
  height: 100vh;
  background: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);
  position: relative;
}

::-webkit-scrollbar {
  width: 2px;
  opacity: 0.5;
}

::-webkit-scrollbar-thumb {
  background-color: #c471f5;
  opacity: 1;
}

.my-card-styles {
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.27);
  border-radius: 12px;
}
.pomodoro-area-adjustment {
  height: 16rem;
  overflow: auto;
}

.todoList {
  position: relative;
  height: 600px;
  width: 400px;
}

.plus-icon {
  stroke: #fff;
  width: 32px;
  height: 32px;
}

.icon-bars {
  position: absolute;
  right: 24px;
  top: 24px;
  stroke: #b197fc;
  width: 32px;
  height: 32px;
}

.plus-icon-anchor {
  display: block;
  border: 3px solid black;
  background-color: #b197fc;
}
